@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Typography Styles */
h1 {
  font-family: var(--font-bebas-neue), 'Bebas Neue', sans-serif;
  font-weight: 700; /* Bold */
}

h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 600; /* Semibold */
}

h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400; /* Regular */
}

.p1 {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
  font-weight: 400; /* Regular */
}

.a1 {
  font-family: var(--font-bebas-neue), 'Bebas Neue', sans-serif;
  font-weight: 400; /* Light - Bebas Neue only has one weight, using 400 */
}

